<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Hello <%= user %></h1>
    <h1>Welcome to the Student Dashboard</h1>

    <p>You have access to student features.</p>

    <br>
    <h2>Events:</h2>
    <ul>
        <% events_sel.forEach(function(event) { %>
            <li>
                <strong>Event Name:</strong> <%= event.event_name %><br>
                <strong>Start Date:</strong> <%= event.start_date %><br>
                <strong>End Date:</strong> <%= event.end_date %><br>
            </li>
        <% }); %>
    </ul>
    <br>
    
    <br>
    <h2>Event Register:</h2>
    <ul>
        <% event_reg.forEach(function(event) { %>
            <li>
                <form action="/students/dashboard/event-register/<%= event.event_id %>/ <%= userId %>" method="POST">
                <strong>Event Name:</strong> <%= event.event_name %><br>
                <strong>Start Date:</strong> <%= event.start_date %><br>
                <strong>End Date:</strong> <%= event.end_date %><br>
                <button type="submit">Register</button>
                </form>
            </li>
        <% }); %>
    </ul>
    <br>

    <a href="/students/logout">Logout</a>
</body>
</html>