<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Hello <%= user %></h1>
    <h1>Welcome to the Student Dashboard</h1>

    <p>You have access to student features.</p>

    <br>
    <h2>Registered Events</h2>
    <form action="/students/dashboard/event-unregister/<%= userId %>" method="POST">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Event Name</th>
                    <th>Club Name</th>
                    <th>Event Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <% events_sel.forEach(function(event) { %>
                    <tr>
                        <td>
                            <input type="checkbox" name="eventIds" value="<%= event.event_id %>">
                        </td>
                        <td><%= event.event_name %></td>
                        <td><%= event.name %></td>
                        <td><%= event.event_desc %></td>
                        <td><%= event.start_date %></td>
                        <td><%= event.end_date %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button type="submit">Unregister Selected Events</button>
    </form>
    <br>

    <br>
    <h2>Upcoming Events:</h2>
    <form action="/students/dashboard/event-register/<%= userId %>" method="POST">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Event Name</th>
                    <th>Club Name</th>
                    <th>Event Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <% event_reg.forEach(function(event) { %>
                    <tr>
                        <td>
                            <input type="checkbox" name="eventIds" value="<%= event.event_id %>">
                        </td>
                        <td><%= event.event_name %></td>
                        <td><%= event.name %></td>
                        <td><%= event.event_desc %></td>
                        <td><%= event.start_date %></td>
                        <td><%= event.end_date %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <button type="submit">Register Selected Events</button>
    </form>
    <br>

    <a href="/students/logout">Logout</a>
</body>
</html>
